.formulario-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
}

.formulario-scanner input {
  width: 100%;
}

.formulario-scanner button {
  width: 100%;
}
