.msj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.info .name {
  font-weight: bold;
}

.badge {
  background: orange;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.chat-view {
  padding: 10px;
}

.chat-header {
  display: flex;
  margin-bottom: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid #f2d7b6;
}

.chat-messages {
      height: 40vh;
    overflow: hidden;
    overflow-y: auto;
}

.chat-name {
  width: 100%;
  text-align: center;
  color: #f2d7b6;
}

.chat-back-btn {
  all: unset;
  background-color: none;
  color: #f2d7b6;
}

.chat-message.chat-user {
  background-color: #f2d7b6;
  color: #0a0c16;
  width: 80%;
  margin-left: auto;
}

.chat-message.chat-user p {
  color: #0a0c16;
}

.chat-message.chat-npc {
  width: 80%;
  margin-left: 0;
}

.chat-message {
  background-color: #2a2a2a;
  padding: 12px 16px;
  border-radius: 16px;
  margin-bottom: 12px;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  
}

.back-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
}

.messages {
  margin: 10px 0;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
}

.message.npc {
  background: #e1d9c6;
  align-self: flex-start;
}

.message.user {
  background: #cfe5d2;
  align-self: flex-end;
  text-align: right;
}

.attachment {
  width: 50%;
  background: #2a2a2a;
  color: #808080;
  margin-top: 3%;
  padding: 5%;
  border: 1px solid #e1d9c6;
  border-radius: 10px;
  margin-top: 5%;
}

.chat-reply-input {
  width: 100%;
  border-radius: 25px;
  padding: 4%;
  background-color: #f2d7b6;
  margin-top: 5%;
}
