
.popup-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}


.popup-content {
  background-color: #1E293B;
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.popup-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}


.popup-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.popup-text {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
