.inicio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
@media only screen and (orientation: landscape) {
    .inicio{
        display: none;
    }
  }
