body {
  margin: 0;
  background-color: #01080D;
  box-sizing: border-box;
  color: white;
  height: 100vh;
  overflow: hidden;
}

h1,
p {
  margin: 0;
}

.celular {
  display: none;
}

@media only screen and (min-width: 769px) {
  .celular {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }

  .contenido-principal {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .celular {
    display: none;
  }

  .contenido-principal {
    display: block;
  }
}

.contenido-principal {
  display: block; 
}

