body {
  margin: 0;
  background-color: #01080D;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

.celular {
  display: none;
}

@media only screen and (orientation: landscape) {
  .celular {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    color: white;
    border: none;
  }
}
