body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fondoGeneral {
  background-color: #01080D;
  position: relative;
  min-height: 112vh;
  overflow: hidden; 
  z-index: 0;
  
}

.fondoGeneral::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../public/img/logo.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  opacity: 0.2; 
  z-index: -1;  
}