.navegacion {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(29, 29, 29, 0.2), 0 6px 20px 0 rgba(48, 48, 48, 0.19);
  padding-bottom: 1em;
}

.navegacion img {
  width: 2em;
  object-fit: contain;
}

.chat-message p {
  white-space: pre-line;
}