p {
  color: #f2d7b6;
  text-align: left;
}

h2 {
  color: #f2d7b6;
}

:root {
  --dorado: #d0b06d;
  --grisOscuro: #1a1a1a;
  --grisMedio: #2b2b2b;
  --font-body: "Poppins", sans-serif;
}

.fondoGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem;
  max-width: 800px;
  width: 100%;
}

.app-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0em;
}

.app-img {
  width: 42%;
  max-width: 140px;
  aspect-ratio: 1 / 1;
  background: var(--grisOscuro);
  border-radius: 20px;
  padding: 0.8rem;
}

.app-button img {
  width: 50%;
  height: auto;
  margin-bottom: 0.5rem;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.app-button p {
  font-size: 0.9rem;
  text-align: center;
}

.icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.notif-dot {
  position: absolute;
  top: 0;
  right: 20%;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #0f0f0f;
  z-index: 1;
  background: orange;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
  height: 1em;
  width: 1em;
  aspect-ratio: 1/1;
}

@media (min-width: 480px) {
  .app-button {
    width: 28%;
  }
}

@media (min-width: 768px) {
  .app-button {
    width: 21%;
  }
}
